body{
    background-color: coral
}
.card { 
    background-color: white;
    width: 450px; height: 550px; 
    display: flex; align-items: 
    center; justify-content: 
    center; height: 100vh; 
}
.card-image {
    width: 250px; 
    height: 250px; 
    border-radius: 150px 
}