.parallax {
    background-image: url("/images/mens_clipper_cuts_local_barber_nelson_bw.jpg");
  
    /* Set a specific height */
    height: 300px;
  
    /* Create the parallax scrolling effect */
    bottom: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;