.parallax {
    background-image: url("/assets/img/mens_clipper_cuts_local_barber_nelson_bw.jpg");
    padding-top: 10rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-fluid {
    margin: 10px;
    min-width: 100px;
    width: 100px;
    height: 100px;
}

#map {
    width: 50%;
    height: 400px;
    background-color: grey;
    margin: 10px 1em;
    padding-left: 20%;
}
.margin-article {
    width: 50%;
    margin: 0% 25%;
}
.text-center {
    margin: 0, 5%, 10%, 0;
}